@import "tailwindcss";

:root {
  --primary: #121F37;
  --primary-light: #26344D;
  --secondary: #FC5A1F;
  --secondary-light: #f74200;
}

@utility container-wrapper {
  @apply mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8;
}